<div class="input-search-wrap">
  <mat-form-field class="input-search-form">
    <input #inputSearch matInput placeholder="поиск" />
  </mat-form-field>
</div>
<div
  class="tours-wrap"
  appHighlightActive
  #highLightDirective
  [sort]="sort"
  [initFirst]="true"
  selector=".tour-item"
  (onEnter)="onEnter($event)"
>
  <ngx-masonry [options]="masonryOptions" (layoutComplete)="updateView()">
    @if (tours?.length > 0) {
      @for (item of tours; track item.id; let i = $index) {
        <!-- @for (item of (tours$ | async).tours; track item.id; let i = $index) { -->
        <div
          ngxMasonryItem
          class="tour-item"
          [attr.data-tour-id]="item.id"
          [attr.index]="i"
        >
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ item.name }}</mat-card-title>
              <mat-card-subtitle>{{ item.tourOperator }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="/img/{{ item.img }}"
              alt="Photo of a tour"
            />
            <mat-card-content>
              <p>
                {{ item.description }}
              </p>
              <p>{{ item.date | date: "dd-MM-YY" }}</p>
              <div
                (click)="showMap($event, item, item.country?.iso_code2)"
                class="country-info"
              >
                Страна: {{ item.country?.name_ru }}
                <img [src]="item.country?.flag_url" />
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="goToTour(item)" matButton>Подробнее...</button>
            </mat-card-actions>
          </mat-card>
          <div (click)="changeBasketStatus(item)" class="img-basket">
            @if (toursInBasket.includes(item.id)) {
              <img src="/img/basket_minus.png" alt="Photo of a basket" />
            } @else {
              <img src="/img/basket_plus.png" alt="Photo of a basket" />
            }
          </div>
        </div>
      }
    } @else {
      <p>По заданному критерию туры не найдены</p>
    }
  </ngx-masonry>
</div>

<nz-modal
  nzDraggable
  nzCentered
  (nzOnCancel)="showModal = false"
  (nzOnOk)="showModal = false"
  [(nzVisible)]="showModal"
  [nzTitle]="mapCountryName"
>
  <ng-container *nzModalContent>
    @if (weatherData) {
      <p>Погода: {{ weatherData.currentWeather }}</p>
      <p *ngIf="weatherData.rain > 0">Идёт дождь: {{ weatherData.rain }}</p>
      <p *ngIf="weatherData.snowfall > 0">
        Идёт снег: {{ weatherData.snowfall }}
      </p>
    }
    <app-map></app-map>
  </ng-container>
</nz-modal>
