.tours-wrap {
  & .tour-item {
    width: 300px;
    margin: 10px;
    & img {
      width: 100%;
    }
    border: 1px solid rgb(106, 106, 107);

    &.active {
      border: 3px solid red;
    }
  }

  .tour-header-image {
    & img {
      width: 100%;
    }
  }
}
