<div class="card-wrapper">
  <mat-card class="tour-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ tour?.name }}</mat-card-title>
      <mat-card-subtitle>{{ tour?.tourOperator }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ tour?.description }}
      </p>
      <p>
        {{ tour?.date | date: "dd-MM-YY" }}
      </p>
      <!-- <div class="country-info">
        Страна: {{tour?.country?.name_ru}}
        <img [src]="tour.country?.flag_url"/>
      </div> -->
    </mat-card-content>
    <img mat-card-image src="/img/{{ tour?.img }}" alt="Photo of a tour" />
    @if (tour) {
      <mat-card-actions>
        <button matButton (click)="onOrder($event)">Оформить заказ</button>
      </mat-card-actions>
    }
  </mat-card>
</div>
